.banner-detail{
    position: relative;
    overflow: hidden;

    .banner-text{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        h2{
            font-size: 3.5rem;
        }
        p{
            color: $color-text-small;
        }
        
    }

}

.banner-detail-img {
    // position: absolute;
    // width: 150%;
    width: 100%;
    // height: 75vh;
    border-radius: 10px;
    // margin-left: -40%;

}
.banner-detail::before {
    position: absolute;
    @include before-background-color;
    background: -webkit-gradient(
        linear,
        left top,
        left bottom,
        from(rgba(0, 18, 50, 0.134891)),
        color-stop(90%, #001232)
    );
    background: linear-gradient(180deg, rgba(0, 18, 50, 0.134891) 0%, #001232 90%);
    background: -webkit-linear-gradient(180deg, rgba(0, 18, 50, 0.134891) 0%, #001232 90%);
}

.detail {
    margin-top: -30vh;
    color: $color-text;
    .img-film {
        position: relative;
        img {
            position: absolute;
            width: 90%;
            object-fit: cover;
            z-index: 1;
            border: 1px solid #17305f;
            border-radius: 5px;
        }
    }
    .film-resume {
        color: #9aace5;
        .film-div-tag {
            margin-top: 20px;
            margin-bottom: 20px;
        }
        .film-tag {
            padding: 10px 20px;
            border-radius: 30px;
            border: 1px solid rgba(163, 177, 198, 0.2);
            font-size: 13px;
            transition: all 0.2s ease;
            &:hover {
                box-shadow: 0px 10px 15px 0px rgba(59, 55, 188, 0.5);
            }
        }
    }
}
.rate {
    background-color: $color-navbar;
    padding-top: 30px;
    padding-bottom: 20px;
    height: 100%;
    position: relative;
    .tomatoes {
        img {
            width: 35px;
            margin-right: 10px;
        }
        span {
            font-weight: bold;
            font-size: 1.5rem;
        }
    }
    fieldset.rating {
        margin: 0;
        padding: 0;
        border: none;
        float: left;
    }
    .rating > input {
        display: none;
    }
    .rating > label:before {
        margin: 4px;
        font-size: 1.25em;
        font-family: FontAwesome;
        display: inline-block;
        content: "\f004";
    }
    .rating > label {
        color: #ddd;
        float: right;
    }
    /***** CSS Magic to Highlight Stars on Hover *****/

    .rating > input:checked ~ label, /* show gold star when clicked */
    .rating:not(:checked) > label:hover, /* hover current star */
    .rating:not(:checked) > label:hover ~ label {
        color: red;
    } /* hover previous stars in list */

    .film-button {
        padding-top: 20px;
    }
}
.btn-normal {
    border-radius: 25px;
    padding: 7px 25px;
    color: white;
    border: 1px solid #11326f;
    background-color: transparent;
    transition: all 0.2s;
    outline: none;
    &:hover {
        @include button-hover;
    }
    &:active {
        @include button-beauty;
    }
}
.modal-trailer {
    background-color: $color-navbar !important;
    .modal-header {
        border-bottom: 1px solid rgba(163, 177, 198, 0.2) !important;
        .modal-title {
            font-size: 1rem;
        }
        .close {
            color: white;
        }
    }
}
$padding-li: 10px;
.movie-tab {
    margin-top: 80px;
    .nav-tabs {
        padding: $padding-li 0;
        border-top: 1px solid #11326f;
        border-bottom: 1px solid #11326f;
        margin-bottom: 40px;
    }
    .nav-tabs .nav-link.active {
        color: $color-light;
        background-color: transparent;
        border: none;
    }
    .nav-tabs .nav-link {
        border: none;
    }
    a {
        position: relative;
        &:before {
            content: "";
            width: 0%;
            position: absolute;
            background: #31d7a9;
            height: 3px;
            left: 0;
            top: -$padding-li;
            transition: all ease 0.3s;
        }
        &:after {
            content: "";
            width: 0%;
            position: absolute;
            background: #31d7a9;
            height: 3px;
            left: 0;
            bottom: -$padding-li;
            transition: all ease 0.3s;
        }
    }
    a:hover,
    a.active {
        &:before {
            width: 100%;
        }
        &:after {
            width: 100%;
        }
    }
}
.btn-ticket {
    mask-image: url("./../../asset/img/movie-seat.png");
    mask-position: center;
    mask-size: contain;
    border: none;
    background-color: $color-navbar;
    padding: 7px 15px;
    color: white;
    transition: all 0.2s ease;
    outline: none !important;
    &:hover {
        background-color: $color-light;
    }
}

.container-theater {
    margin-top: 40px;
}
.theater,
.div-ticket {
    padding: 20px;
}
.div-ticket > div {
    margin-bottom: 15px;
    &:nth-child(5),
    &:last-child {
        margin-bottom: 0;
    }
}

.row-theater {
    background-color: #01173f;
    // padding:10px;

    border-bottom: 1px solid #11326f;
    &:last-child {
        border-bottom: none;
    }
    .col-ticket {
        border-left: 1px solid #11326f;
    }
    .theater-map {
        padding: 4px 10px;
        background-color: $color-navbar;
        border-radius: 30px;
        margin-top: 20px;
        &:hover {
            background-color: $color-light;
        }
    }
}

#seatModal {
    .modal-content {
        background-color: white;
        p {
            color: $color-navbar;
            margin-bottom: 0;
        }
        h3 {
            color: $color-light;
        }
        img {
            margin: 20px 0;
        }
    }
}

.contain-avatar-cast{
    padding: 10px;
    margin: 10px auto;
    border: 1px solid $color-light;
    border-radius: 50%;
    width: 130px;
    height: 130px;
}
.avatar-cast {
    width: 100%;
    
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    border: 4px solid $color-light;
    position: relative;
    

}
.cast-name{
    font-size: 1.1rem;
    font-weight: bold;
    &:hover{
        color: $color-light;
    }
}
.comedien-name{
    font-size: 0.8rem;
    color: $color-text-small;
}
#movieInfo{
    h3{
        font-size: 1.6rem;
        padding-bottom: 14px;
        margin-bottom: 15px;
        border-bottom: 1px dashed #11326f;
    }
}