// banner component 
.banner-section {
    position: relative;
    padding: 250px 0 350px;
    &::before {
        background-color: rgba(0, 18, 50, 0.603);
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
    }
    .banner-background {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        opacity: 0.3;
        background: {
            image: url(./../../asset/img/banner01.jpg);
            size: cover;
            position: center;
            repeat: no-repeat;
            attachment: fixed;
        }
        z-index: 1;
    }
    .banner-content {
        position: relative;
        z-index: 3;
        .title {
            font-size: 80px;
            line-height: 1.1;
            margin-bottom: 18px;
            font-weight: 800;
            .d-block{
                padding: .2em 0;
            }
        }
        p {
            font-size: 28px;
            line-height: 1.4;
        }
        .txt-rotate{
            color: $color-light;
        }
    }
}

// ticketsearch component 
.ticket-search-section{
    .search-tab{
        border-radius: $border-radius-big;
        z-index: 3;
        transform: translateY(-50%);
        position: relative;
        background-image: url('./../../asset/img/ticket-bg01.jpg');
        .category{
            color: $color-light;
            font-weight: 600;
        }
        h3{
            font-size: 28px;
        }
    }
}